@import 'variables';

.add-item {
  border: none;
  align-content: stretch;
  display: flex;
  height: 4rem;
  margin: 0.6rem 0;
  width: 100%;
}

.add-item--input-amount {
  flex-grow: 1;
}

.add-item--input-title {
  flex-grow: 2;
}
