@import 'variables';

$header-height: 6rem;
$header-height-desktop: 8rem;

.header {
  background-color: $blue;
  height: $header-height;
  line-height: $header-height;
  padding: 0 2rem;
}

.header--title {
  color: $white;
  font-size: 2rem;
}

@media screen and (min-width: $desktop) {
  .header {
    height: $header-height-desktop;
    line-height: $header-height-desktop;
    padding: 0 1.5rem;
  }
}
