@import 'variables';

$header-height: 8rem;

.header {
  background-color: $blue;
  height: $header-height;
  line-height: $header-height;
  padding: 0 2rem;
  width: 100%;
}

.header--title {
  color: $white;
  font-size: 2rem;
}
