@import 'variables';

$header-height: 6rem;
$header-height-desktop: 8rem;
$header-coin-size: 3rem;
$header-coin-size-desktop: 3.4rem;

.header {
  background-color: $white;
  height: $header-height;
  line-height: $header-height;
  padding: 0 2rem;
}

.header__title {
  color: lighten($black, 20%);
  font-size: 1.9rem;

  &::before {
    display: inline-block;
    margin-right: 1.2rem;
    border-radius: $header-coin-size / 2;
    width: $header-coin-size;
    height: $header-coin-size;
    line-height: $header-coin-size;
    background-color: $yellow;
    color: darken($dark-yellow, 10%);
    text-align: center;
    content: "\f155";
    font-family: 'FontAwesome'
  }
}

@media screen and (min-width: $desktop) {
  .header {
    height: $header-height-desktop;
    line-height: $header-height-desktop;
    padding: 0 1.5rem;
  }

  .header__title {
    font-size: 2rem;

    &:before {
      border-radius: $header-coin-size-desktop / 2;
      width: $header-coin-size-desktop;
      height: $header-coin-size-desktop;
      line-height: $header-coin-size-desktop;
    }
  }
}
