@import 'variables';

$item-tool-color: darken($white, 35%);
$item-tool-color-inactive: darken($white, 12.5%);
$item-height: 4.2rem;

.item {
  background-color: $white;
  box-shadow: 0 2px 5px darken($white, 10%);
  display: flex;
  height: $item-height;
  line-height: $item-height;
  margin-bottom: 2px;
  padding: 0 1.5rem;

  &.alt-income .item--amount {
    color: $green;
  }

  &.alt-expense .item--amount {
    color: $red;
  }

  &.alt-calculated {
    background-color: darken($white, 1%);
    opacity: 0.8;
  }

  &.alt-saldo {
    font-weight: bold;
    margin-bottom: 5rem;
  }
}

.item--title {
  width: 100%;
}

.item--amount {
  margin-right: 0.2rem;

  &:before {
    content: '€';
    margin-right: 0.3rem;
  }
}

.item--tools {
  margin-left: 1.5rem;

  .item.alt-calculated & {
    i {
      color: $item-tool-color-inactive;

      &:hover,
      &:focus,
      &:active {
        color: $item-tool-color-inactive;
        cursor: default;
      }
    }
  }

  i {
    color: $item-tool-color;
    height: $item-height;
    line-height: $item-height;

    &:hover,
    &:focus,
    &:active {
      color: darken($item-tool-color, 20%);
      cursor: pointer;
    }
  }
}
