@import 'variables';

$item-tool-color: darken($white, 35%);
$item-tool-color-inactive: darken($white, 12.5%);
$item-height: 4.2rem;

.item {
  background-color: $white;
  box-shadow: 0 2px 5px darken($white, 10%);
  margin-bottom: 2px;
}

.item--calculated {
  background-color: darken($white, 1%);
  opacity: 0.8;
}

.item--saldo {
  font-weight: bold;
  margin-bottom: 5rem;
}

.item__input,
.item__content {
  padding: 0 1.5rem;
}

.item__input {
  margin-top: -1rem;
}

.item__content {
  display: flex;
  height: $item-height;
  line-height: $item-height;
}

.item__title {
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.item__amount {
  margin-right: 0.2rem;

  .item--income & {
    color: $green;
  }

  .item--expense & {
    color: $red;
  }

  &::before {
    content: '€';
    margin-right: 0.3rem;
  }
}

.item__tools {
  margin-left: 1.5rem;
}

.item__icon {
  color: $item-tool-color;
  height: $item-height;
  line-height: $item-height !important;

  .item--calculated & {
    color: $item-tool-color-inactive;

    &:hover,
    &:focus,
    &:active {
      color: $item-tool-color-inactive;
      cursor: default;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: darken($item-tool-color, 20%);
    cursor: pointer;
  }
}
