@import 'variables';

.item-input {
  border: none;
  align-content: stretch;
  display: flex;
  margin: 0.6rem 0;
  width: 100%;
}

.item-input__input-amount {
  flex-grow: 1;
}

.item-input__input-title {
  flex-grow: 2;
}
