@import 'variables';

.item-input {
  border: none;
  align-content: stretch;
  display: flex;
  margin: 0.3rem 0;
  width: 100%;
}

.item-input__input-amount {
  flex-grow: 1;
}

.item-input__input-title {
  flex-grow: 2;
}

.item-input__submit {
  min-width: 10rem;
  text-align: right;
}
