@import 'variables';

.list {
  margin-bottom: 2rem;
}

@media screen and (min-width: $desktop) {
  .list {
    float: left;
    width: 48%;
    margin-right: 4%;

    &:last-child {
      margin-right: 0;
    }
  }
}
