@import 'variables';

.login {
  max-width: 40rem;
  margin: 10vh auto;
}

.login__submit {
  background-color: $blue;
  border-radius: 4px;
  color: $white;
  padding: 1rem 2rem;
  width: 100%;

  &:hover,
  &:focus {
    background-color: darken($blue, 10%);
    color: $white;
  }
}
